<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/nav.ejs')%>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aliquam sapiente est optio eaque rem, temporibus vel voluptates ad eveniet ipsum recusandae possimus atque dolore numquam molestias maxime iusto in.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio fugit saepe cupiditate suscipit reiciendis, nihil, blanditiis voluptatum, expedita tempora cumque corporis et omnis asperiores aperiam! Aspernatur eius pariatur quas nisi.</p>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>